html{
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: url("../img/background_photo.png");
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}


/* Body html and grid css  */

/* NAV STYLE AND FIXED NAV STYLE */

.nav{
    width: 70%;
    position: absolute;
    left: 30%;
}

.nav ul{
    max-width: 100%;
    display: grid;
    padding: 0;
    list-style: none;
    grid-template-columns: 
     1fr 1fr 1fr;
    grid-template-rows: 1fr;
}


.nav ul li{
    position: relative;
}
.nav ul li a{
    font-family: Raleway;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    transition:all 0.2s ease;
    font-weight: 700;
    line-height: 50px;
    display: block;
    font-size: 1.3rem;
}

.nav.fixed{
    position: fixed;
    background-color: #4d6781c5;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.2;
    z-index: 4;
    border-radius: 0% 0% 1.5% 1.5%;
}

.nav.fixed ul li.fixed{
    padding: 1.4% 4%;
    opacity: 0.7;

}

.nav.fixed ul li a.fixed{
    font-weight: 600;
    font-size: 1em;
    line-height: 35px;
}

/* NAV STYLE AND NAV FIXED STYLE END  */

/* HEADER START  */

.header-container{
    display:grid;
    grid-auto-rows: min-content;
    grid-template-areas: 
        " image-header-wrapper header-contact "
        " image-header-wrapper header-contact "
        " image-header-wrapper header-contact "
    ;
}
.header-contact{
    grid-area: header-contact;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    min-height: 700px;
    min-width: 500px;
    margin-top: 10%;
}
.header-contact h3{
    font-family: Railway;
    text-transform: uppercase;
    color: #fff;
    margin-top: 0%;
    margin-bottom: 1.5%;
    font-size: 1.9rem;
}

.header-contact p{
    margin-top: 0%;
    margin-bottom: 10%;
    font-family: sans-serif;
    color: rgb(236, 251, 255);
    text-decoration-line: underline;
}

.header-contact .second-para{
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-size: 1.1em;
    text-decoration: none;
}

/* HEADER END  */

/* LOGO STYLE START */

.image-header-wrapper{
    grid-area: image-header-wrapper; 
    max-width: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;

} 
.image-header-wrapper img{
    max-height: 600px;
    max-width: 100%;
    width: 100%;
    top: 10%;
}

/* LOGO STYLE END  */


/* BUTTON BUY NOW/ORDER NOW START */
 .contact-me-span{
    padding: 12px 25px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 1em;
    border: 2px solid #000;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(194, 68, 68, 0.668);
}
.contact-me-span:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgba(150, 150, 150, 0.312);
}

.order-now{
    position: absolute;
    top: 20%;
    left: -50px;
    padding: 17px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 100%;
    border: 2px solid #000;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(194, 68, 68, 0.668);
    transform: rotate(90deg);
}
.order-now:hover{
    position: absolute;
    top: calc(20% - 2px);
    left: calc(-50px - 2px);
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgba(150, 150, 150, 0.312);
}
/* BUTTON BUY NOW/ORDER NOW END  */

/* ABOUT ME SECTION START WITH ANIMATION */
.about_me-wrapper{
    grid-area: about_me-wrapper;
    display: flex;
    flex-direction: column;
    margin: 300px auto 5% auto;
}

.about_me{
    grid-area: about_me-wrapper;
    width: 100%;
    margin: 0% auto 5% auto;
    background: rgb(255, 255, 255);
    position: relative;
    box-sizing: border-box;
    z-index: 2;
}
.about_me::after{
    grid-area: about_me-wrapper;
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(255, 255, 255);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transform-origin: top left;
    transform: skewY(2deg);
    box-shadow: 0px 5px 10px -2px rgb(180, 180, 180, 0.805);
}
.about_me::before{
    grid-area: about_me-wrapper;
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(255, 255, 255);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transform-origin: top right;
    transform: skewY(2deg);
    box-shadow: 0px 5px 10px 5px rgba(180, 180, 180, 0.805);
}

.about_me h1{
    grid-area: about_me-wrapper;
    font-family: sans-serif;
    font-weight: 530;
    text-transform: uppercase;
    font-size: 4em;
    padding: 1% 10% 1% 10%;
    color: rgb(76, 76, 76);
    margin-left: 10%;
}
.about_me p{
    grid-area: about_me-wrapper;
    padding: 1% 10% 4% 10%;
    font-size: 1.4em;
    color: rgba(11, 0, 40, 0.752);
    font-weight: 400;
}

/* ABOUT ME SECTION END  */


/* YOUTUBE PLAYER START */

.youtube_section{
    height: 500px;
    background: linear-gradient(bottom, rgba(215, 215, 215, 0.692) , rgba(255,255,255, 0.692));
    background: -webkit-linear-gradient(bottom, rgba(215, 215, 215, 0.692) , rgba(255,255,255, 0.692));
    background: -moz-linear-gradient(bottom, rgba(215, 215, 215, 0.692) , rgba(255,255,255, 0.692));
    background: -o-linear-gradient(bottom, rgba(215, 215, 215, 0.692) , rgba(255,255,255, 0.692));
    background: -webkit-gradient(linear, to bottom, from(rgba(215, 215, 215, 0.692)) , to(rgba(255,255,255, 0.692)));
    margin: 250px 0px;
    box-shadow: 5px 0px 18px 2px rgb(255, 255, 255, 0.5);
    display: grid;
    grid-template-columns: 10% 40% 1fr 1fr 10% ;
    grid-template-areas:
    ' . player-wrapper player-wrapper youtube_sidebar . ';
}

.youtube_section .player-wrapper{
    grid-area: player-wrapper;
}

.youtube_section .player-wrapper h1{
    font-size: 1.3em;
    color: #000;
    text-decoration: underline;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    width: 640px;

}

.youtube_section #player{
    margin: auto 0;
}

.youtube_section .player-wrapper .custom-youtube-player{
    width: 90%;
    height: 390px;
}

.youtube_section .youtube_sidebar{
    grid-area: youtube_sidebar;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: min-content;
    grid-template-areas: 
    ' p '
    ' collaboration ';
}

.youtube_section .youtube_sidebar p{
    font-family: 'Encode Sans Condensed', sans-serif;
    grid-area: p;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    color: #000;
}
.youtube_section .youtube_sidebar p span {
    text-decoration: underline;
    text-align: center;
}

.youtube_section .youtube_sidebar .collaboration{
    grid-area: collaboration;
    border: 4px solid rgba(0, 0, 0, 0.846);
    padding: 17px;
    border-radius: 3px;
    height: 150px;
}

/* YOUTUBE PLAYER END  */
/* CONTACT ME SECTION START */

.contact_me-section{
    display:grid;
    grid-template-columns: 1fr 80px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: min-content;
    grid-template-areas: 
    " contact_me_form hr side-bar "
    " contact_me_form hr side-bar ";
    width: 100%;
    margin: 4% auto 100px auto;
    background: linear-gradient(to bottom, #edf3f8bc, #edf3f8bE);
    position: relative;
    box-sizing: border-box;
    z-index: 2;
    box-shadow: 5px 0px 18px 2px rgba(255, 255, 255, 0.5);
}

.contact_me-section hr {
    grid-area: hr;
    height: 90%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}


/* CONTACT ME SECTION END  */

/* CONTACT ME FORM START */

.contact_me_form{
    grid-area: contact_me_form;
    display:flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    min-height: 400px;
    margin-left: 30px;
    margin-bottom: 30px;
}
.contact_me_form h1{
    text-align: center;
    font-weight: 700;
    font-size: 2em;
    font-family: 'Encode Sans Condensed', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}
.contact_me_form p{
    text-align: center;
    text-decoration: underline;
}
.contact_me_form form {
    display: flex;
    flex-direction: column;
    margin: auto 30px
}

.contact_me_form form input[type="text"], .contact_me_form form input[type="email"]{
    padding: 7px 5px;
    border: 2px solid rgb(50, 50, 50, 0.8);
    border-radius: 3%;
    background-color: inherit;
    font-weight: 600;
}

.contact_me_form form textarea {
    border: 2px solid rgb(50, 50, 50, 0.8);
    background-color: inherit;
    font-weight: 600;
}

.contact_me_form form input[type="submit"] {
    background-color: rgba(255, 0, 0, 0.394);
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 12px;
    font-weight: 600;
    border-radius: 5px;
    border-color: #000; 
    color: #fff;
}

/* CONTACT ME FORM END  */

/* SIDE BAR AND SOCIAL MEDIA START */

.side-bar{
    grid-area: side-bar;
    display:flex;
    flex-direction: column;
    justify-content: start;
    justify-items: center;
}
.side-bar p{
    font-family: 'Roboto Condensed', sans-serif;
    display:flex;
    flex-direction: column;
    text-align: center;
    font-weight: 700;
    font-size: 1.8em;
    max-width: 60%;
    margin: 15% auto 5% auto;
    line-height: 40px;

}
.social-medias{
    display:flex;
    flex-direction: row;
    text-align: center;
    margin: 0 auto;
}
.social-medias i{
    padding:0px 20px;
    text-align: center;
}

.social-medias a .youtube_icon{
    color: rgb(194, 68, 68);
}

.social-medias a #insta{
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}

.social-medias a .facebook_icon{
    color: rgb(49, 49, 193);
}


/* SIDE BAR AND SOCIAL MEDIA END */

footer{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
}


/* BG-IMAGE COVER COLOR #36516e */















/* ==================================================================================================== */
/* ============================================= MEDIA QUERIES ======================================== */
/* ==================================================================================================== */











@media only screen and (max-width: 480px) {
    html{
        font-size: 11px;
    } 
    body{
        padding: 0;
        margin: 0;
        width: 100% !important;
        height: 100vh !important;
        background: url("../img/mobile_liyank1.png")  !important;
        background-repeat:no-repeat !important;
        background-size: cover !important;
        background-attachment: fixed !important;
        background-position: center center !important;

    }
    .nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        transition: all 0.2;
        z-index: 4;
        /* border-radius: 0% 0% 1.5% 1.5%; */
    }
    
    .nav ul li{
        padding: 1.4% 4%;
    
    }
    
    .nav ul li a{
        font-weight: 600;
        font-size: 1.4em;
        line-height: 35px;
    }
    .header-container{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr ;
        grid-auto-rows: min-content;
        grid-template-areas: 
            " header-contact header-contact "
            " image-header-wrapper image-header-wrapper"
        ;
    }
    .header-contact{
        max-height: 400px;
        padding-bottom: 0;
        margin-top: -5%;
        padding-bottom: 30px;
    }
    .header-contact .second-para{
        color: rgb(200, 238, 255);
    }
    .youtube_section{
        background: linear-gradient(bottom, rgba(215, 215, 215, 0.692) , rgba(255,255,255, 0.692));
        background: -webkit-linear-gradient(bottom, rgba(215, 215, 215, 0.692) , rgba(255,255,255, 0.692));
        background: -moz-linear-gradient(bottom, rgba(215, 215, 215, 0.692) , rgba(255,255,255, 0.692));
        background: -o-linear-gradient(bottom, rgba(215, 215, 215, 0.692) , rgba(255,255,255, 0.692));
        background: -webkit-gradient(linear, to bottom, from(rgba(215, 215, 215, 0.692)) , to(rgba(255,255,255, 0.692)));
    }
    .about_me::after{
        grid-area: about_me-wrapper;
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        background: rgb(255, 255, 255);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        transform-origin: top left;
        transform: skewY(2deg);
        box-shadow: 0px 5px 10px -2px rgba(180, 180, 180, 0.805);
    }
    .about_me::before{
        grid-area: about_me-wrapper;
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        background: rgb(255, 255, 255);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        transform-origin: top right;
        transform: skewY(2deg);
        box-shadow: 0px 5px 10px 5px rgba(180, 180, 180, 0.805);
    }

    .social-medias a .youtube_icon{
        color: rgb(194, 68, 68);
    }
    .contact_me-section{
        background: -webkit-linear-gradient(bottom,#edf3f8bc , #edf3f8bc);
        background: -moz-linear-gradient(bottom,#edf3f8bc , #edf3f8bc);
        background: -o-linear-gradient(bottom,#edf3f8bc , #edf3f8bc);
        background: -webkit-gradient(linear, to bottom, from(#edf3f8bc) , to(#edf3f8bc));
        background: linear-gradient(to bottom, #edf3f8bc, #edf3f8bE);
        box-shadow: 5px 0px 18px 2px rgba(255, 255, 255, 0.5);
    }
    .contact_me_form form input[type="submit"] {
        background-color: rgba(255, 0, 0, 0.877) !important;
        text-transform: uppercase;
        font-size: 1.5em;
        padding: 12px;
        font-weight: 600;
        border-radius: 5px;
        border-color: #000; 
        color: #fff;
    }
    .youtube_section .player-wrapper{
        margin-left: 40px;
    }
    .youtube_section .youtube_sidebar p {
        height: 100px;
    }
    .youtube.section .youtube_sidebar .collaboration{
        height: 130px;
        margin-top: 0;
    }
    .youtube_section .youtube_sidebar{
        grid-area: youtube_sidebar;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-rows: min-content;
        grid-template-areas: 
        ' p '
        ' collaboration ';
    }
}











@media all and (min-width: 481px) and (max-width: 766px){
    html{
        font-size: 13px;
    } 
    body{
        padding: 0;
        margin: 0;
        width: 100% !important;
        height: 100vh !important;
        background: url("../img/mobile_liyank1.png") !important; 
        background-repeat:no-repeat !important;
        -webkit-background-size:contain !important;
        -moz-background-size:contain !important;
        -o-background-size:contain !important;
        background-size:contain !important;
        background-attachment: fixed !important;
    }
    .nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        transition: all 0.2;
        z-index: 4;
        /* border-radius: 0% 0% 1.5% 1.5%; */
    }
    
    .nav ul li{
        padding: 1.4% 4%;
    
    }
    
    .nav ul li a{
        font-weight: 600;
        font-size: 1.4em;
        line-height: 35px;
    }
    .header-container{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr ;
        grid-auto-rows: min-content;
        grid-template-areas: 
            " header-contact header-contact "
            " image-header-wrapper image-header-wrapper"
        ;
    }
    .header-container .image-header-wrapper img{
        max-width: 760px;
        height: auto;
    }


    .header-contact{
        max-height: 400px;
        padding-bottom: 0;
        margin-top: -5%;
        padding-bottom: 30px;
    }

    .header-contact .second-para{
        color: rgb(200, 238, 255);
    }
    .youtube_section{
        background: linear-gradient(bottom, rgba(215, 215, 215, 0.692) , rgba(255,255,255, 0.692));
        background: -webkit-linear-gradient(bottom, rgba(215, 215, 215, 0.692) , rgba(255,255,255, 0.692));
        background: -moz-linear-gradient(bottom, rgba(215, 215, 215, 0.692) , rgba(255,255,255, 0.692));
        background: -o-linear-gradient(bottom, rgba(215, 215, 215, 0.692) , rgba(255,255,255, 0.692));
        background: -webkit-gradient(linear, to bottom, from(rgba(215, 215, 215, 0.692)) , to(rgba(255,255,255, 0.692)));
    }
    .about_me::after{
        grid-area: about_me-wrapper;
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        background: rgb(255, 255, 255);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        transform-origin: top left;
        transform: skewY(2deg);
        box-shadow: 0px 5px 10px -2px rgba(180, 180, 180, 0.805);
    }
    .about_me::before{
        grid-area: about_me-wrapper;
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        background: rgb(255, 255, 255);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        transform-origin: top right;
        transform: skewY(2deg);
        box-shadow: 0px 5px 10px 5px rgba(180, 180, 180, 0.805);
    }
    .social-medias a .youtube_icon{
        color: rgb(194, 68, 68);
    }
    .contact_me-section{
        background: -webkit-linear-gradient(bottom,#edf3f8bc , #edf3f8bc);
        background: -moz-linear-gradient(bottom,#edf3f8bc , #edf3f8bc);
        background: -o-linear-gradient(bottom,#edf3f8bc , #edf3f8bc);
        background: -webkit-gradient(linear, to bottom, from(#edf3f8bc) , to(#edf3f8bc));
        background: linear-gradient(to bottom, #edf3f8bc, #edf3f8bE);
        box-shadow: 5px 0px 18px 2px rgba(255, 255, 255, 0.5);
    }
    .contact_me_form form input[type="submit"] {
        background-color: rgba(255, 0, 0, 0.394);
        text-transform: uppercase;
        font-size: 1.5em;
        padding: 12px;
        font-weight: 600;
        border-radius: 5px;
        border-color: #000; 
        color: #fff;
    }
}

@media only screen and (max-width: 767px) {
    /* body{
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100vh;
        background: url("../img/background_photo.png") center fixed;
        background-repeat:no-repeat;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        background-position:center;
    } */

    .nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        transition: all 0.2;
        z-index: 4;
        /* border-radius: 0% 0% 1.5% 1.5%; */
    }
    
    .nav ul li{
        padding: 1.4% 4%;
    
    }
    
    .nav ul li a{
        font-weight: 600;
        font-size: 1.4em;
        line-height: 35px;
    }

    .header-container{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr ;
        grid-auto-rows: min-content;
        grid-template-areas: 
            " header-contact header-contact "
            " image-header-wrapper image-header-wrapper "
        ;
    }

    .header-contact{
        position: relative;
        grid-area: header-contact;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        text-align: center;
        padding-top: 15%;
        min-height: 600px;
        min-width: 100%;
    }
    .header-contact h3{
        font-family: Railway;
        text-transform: uppercase;
        color: #fff;
        margin-top: 0%;
        margin-bottom: 1.5%;
        font-size: 1.9rem;
    }
    
    .header-contact p{
        margin-top: 0%;
        font-family: sans-serif;
        color: rgb(169, 213, 227);
        text-decoration-line: underline;
    }
    
    .header-contact .second-para{
        text-transform: uppercase;
        font-weight: 600;
        color: rgb(200, 238, 255);
        font-size: 110%;
        text-decoration: none;
    }

    .image-header-wrapper{
        grid-area: image-header-wrapper; 
        max-height: 500px;
        max-width: 1100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: start;
    
    } 
    .image-header-wrapper img{
        max-width: 768px;
        max-height: auto;
        max-width: 100%;
        width: 100%;
        top: 10%;
    }

    .youtube_section{
        height: auto;
        background: linear-gradient(bottom, rgba(215, 215, 215, 0.692) , rgba(255,255,255, 0.692));
        background: -webkit-linear-gradient(bottom, rgba(215, 215, 215, 0.692) , rgba(255,255,255, 0.692));
        background: -moz-linear-gradient(bottom, rgba(215, 215, 215, 0.692) , rgba(255,255,255, 0.692));
        background: -o-linear-gradient(bottom, rgba(215, 215, 215, 0.692) , rgba(255,255,255, 0.692));
        background: -webkit-gradient(linear, to bottom, from(rgba(215, 215, 215, 0.692)) , to(rgba(255,255,255, 0.692)));
        margin: 250px 0px;
        box-shadow: 5px 0px 18px 2px rgba(255, 255, 255, 0.5);
        display: grid;
        grid-template-columns: 10% 40% 40% 10% ;
        grid-template-areas:
        ' . player-wrapper player-wrapper  . '
        ' . youtube_sidebar youtube_sidebar . ';
    }
    
    .youtube_section .player-wrapper{
        grid-area: player-wrapper;
    }
    
    .youtube_section .player-wrapper h1{
        font-size: 1.3em;
        color: #000;
        text-decoration: underline;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        width: 100%;
        text-align: center;
    
    }
    
    .youtube_section #player{
        margin: auto 0;
    }
    
    .youtube_section .player-wrapper .custom-youtube-player{
        width: 90%;
        height: 390px;
    }
    
    .youtube_section .youtube_sidebar{
        grid-area: youtube_sidebar;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        ' p '
        ' collaboration ';
    }
    
    .youtube_section .youtube_sidebar p{
        font-family: 'Encode Sans Condensed', sans-serif;
        grid-area: p;
        font-size: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        text-align: center;
        color: #000;
    }
    .youtube_section .youtube_sidebar p span {
        text-decoration: underline;
        text-align: center;
    }
    
    .youtube_section .youtube_sidebar .collaboration{
        grid-area: collaboration;
        border: 5px solid #000;
        padding: 17px;
        border-radius: 3px;
        max-width: 70%;
        margin-bottom: 50px;  
        margin-left: 10%;  

    }
    
    /* YOUTUBE PLAYER END  */

    .contact_me-section{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        " contact_me_form contact_me_form "
        " side-bar side-bar ";
        width: 100%;
        margin: 4% auto 100px auto;
        background: #edf3f8bc;
        position: relative;
        box-sizing: border-box;
        z-index: 2;
        box-shadow: 5px 0px 18px 2px rgba(255, 255, 255, 0.5);
    }

    .contact_me-section .side-bar{
        max-height: 400px;
        
    }
    .about_me::after{
        grid-area: about_me-wrapper;
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        background: rgb(255, 255, 255);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        transform-origin: top left;
        transform: skewY(2deg);
        box-shadow: 0px 5px 10px -2px rgba(180, 180, 180, 0.805);
    }
    .about_me::before{
        grid-area: about_me-wrapper;
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        background: rgb(255, 255, 255);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        transform-origin: top right;
        transform: skewY(2deg);
        box-shadow: 0px 5px 10px 5px rgba(180, 180, 180, 0.805);
    }
    .social-medias a .youtube_icon{
        color: rgb(194, 68, 68);
    }
    .contact_me-section{
        background: -webkit-linear-gradient(bottom,#edf3f8bc , #edf3f8bc);
        background: -moz-linear-gradient(bottom,#edf3f8bc , #edf3f8bc);
        background: -o-linear-gradient(bottom,#edf3f8bc , #edf3f8bc);
        background: -webkit-gradient(linear, to bottom, from(#edf3f8bc) , to(#edf3f8bc));
        background: linear-gradient(to bottom, #edf3f8bc, #edf3f8bE);
        box-shadow: 5px 0px 18px 2px rgba(255, 255, 255, 0.5);
    }
    .contact_me_form form input[type="submit"] {
        background-color: rgba(255, 0, 0, 0.394);
        text-transform: uppercase;
        font-size: 1.5em;
        padding: 12px;
        font-weight: 600;
        border-radius: 5px;
        border-color: #000; 
        color: #fff;
    }
}

/* ================================================================================================================== */
/* ================================================================================================================== */
/* ================================================================================================================== */


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* one in a row */
    body{
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100vh;
        background: url("../img/background_photo.png") center fixed;
        background-repeat:no-repeat;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        background-position:center;
    }


    .nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        transition: all 0.2;
        z-index: 4;
        /* border-radius: 0% 0% 1.5% 1.5%; */
    }
    
    .nav ul li{
        padding: 1.4% 4%;
    
    }
    
    .nav ul li a{
        font-weight: 600;
        font-size: 1.4em;
        line-height: 35px;
    }

    .header-container{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-rows: 300px;
        grid-template-areas: 
            " header-contact header-contact "
            " image-header-wrapper image-header-wrapper "
        ;
    }

    .header-contact{
        position: relative;
        grid-area: header-contact;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        text-align: center;
        min-height: 600px;
        min-width: 100%;
        padding-bottom: 15%;
    }
    .header-contact h3{
        font-family: Railway;
        text-transform: uppercase;
        color: #fff;
        margin-top: 0%;
        margin-bottom: 1.5%;
        font-size: 1.9rem;
    }
    
    .header-contact p{
        margin-top: 0%;
        margin-bottom: 69px;
        font-family: sans-serif;
        color: rgb(169, 213, 227);
        text-decoration-line: underline;
    }
    
    .header-contact .second-para{
        text-transform: uppercase;
        font-weight: 600;
        color: rgb(200, 238, 255);
        font-size: 110%;
        text-decoration: none;
    }

    .image-header-wrapper{
        grid-area: image-header-wrapper; 
        max-height: 500px;
        max-width: 950px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
    
    } 
    .image-header-wrapper img{
        max-height: 500px;
        width: 100%;
        max-width: 100%;
    }
    .youtube_section{
    background: linear-gradient(bottom, rgba(215, 215, 215, 0.692) , rgba(255,255,255, 0.692));
    background: -webkit-linear-gradient(bottom, rgba(215, 215, 215, 0.692) , rgba(255,255,255, 0.692));
    background: -moz-linear-gradient(bottom, rgba(215, 215, 215, 0.692) , rgba(255,255,255, 0.692));
    background: -o-linear-gradient(bottom, rgba(215, 215, 215, 0.692) , rgba(255,255,255, 0.692));
    background: -webkit-gradient(linear, to bottom, from(rgba(215, 215, 215, 0.692)) , to(rgba(255,255,255, 0.692)));
    }
    .about_me::after{
        grid-area: about_me-wrapper;
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        background: rgb(255, 255, 255);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        transform-origin: top left;
        transform: skewY(2deg);
        box-shadow: 0px 5px 10px -2px rgba(180, 180, 180, 0.805);
    }
    .about_me::before{
        grid-area: about_me-wrapper;
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        background: rgb(255, 255, 255);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        transform-origin: top right;
        transform: skewY(2deg);
        box-shadow: 0px 5px 10px 5px rgba(180, 180, 180, 0.805);
    }
    .social-medias a .youtube_icon{
        color: rgb(194, 68, 68);
    }

}

@media only screen and (min-width: 1025px) {
    /* Everything normal */

    body{
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100vh;
        background: url("../img/background_photo.png") center fixed;
        background-repeat:no-repeat;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        background-position:center;
    }

    .about-me, .music, .contact_me{
        position: relative;
        top: 0%;
    }
    
    .about-me::before, .music::before, .contact_me::before{
        content: '';
        height: 2px;
        background: linear-gradient(0.25turn, rgba(37, 0, 117, 0.531), #e2bdfe, rgba(37, 0, 117, 0.531));
        display:block;
        position:absolute;
        left:50%;
        right:50%;
        transition: 1s;
    }
    .about-me::after, .music::after, .contact_me::after{
        content: '';
        height: 2px;
        background: linear-gradient(0.25turn,rgba(37, 0, 117, 0.531), #e2bdfe, rgba(37, 0, 117, 0.531));
        display:block;
        position:absolute;
        left:50%;
        right:50%;
        transition: 1s;
    }
    
    .about-me:hover::before, .music:hover::before, .contact_me:hover::before{
        left: 0%;
        right: 0%;
    }
    
    .about-me:hover::after, .music:hover::after, .contact_me:hover::after{
        left: 0%;
        right: 0%;
    }

    .header-container{
    display:grid;
    grid-template-areas: 
        " image-header-wrapper header-contact "
        " image-header-wrapper header-contact "
        " image-header-wrapper header-contact "
    ;
}

    .header-contact p{
        margin-top: 0%;
        margin-bottom: 10%;
        font-family: sans-serif;
        color: rgb(169, 213, 227);
        text-decoration-line: underline;
    }
    .youtube_section{
    background: linear-gradient(bottom, rgba(215, 215, 215, 0.692) , rgba(255,255,255, 0.692));
    background: -webkit-linear-gradient(bottom, rgba(215, 215, 215, 0.692) , rgba(255,255,255, 0.692));
    background: -moz-linear-gradient(bottom, rgba(215, 215, 215, 0.692) , rgba(255,255,255, 0.692));
    background: -o-linear-gradient(bottom, rgba(215, 215, 215, 0.692) , rgba(255,255,255, 0.692));
    background: -webkit-gradient(linear, to bottom, from(rgba(215, 215, 215, 0.692)) , to(rgba(255,255,255, 0.692)));
    }
    .about_me::after{
        grid-area: about_me-wrapper;
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        background: rgb(255, 255, 255);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        transform-origin: top left;
        transform: skewY(2deg);
        box-shadow: 0px 5px 10px -2px rgb(180, 180, 180, 0.805);
    }
    .about_me::before{
        grid-area: about_me-wrapper;
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        background: rgb(255, 255, 255);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        transform-origin: top right;
        transform: skewY(2deg);
        box-shadow: 0px 5px 10px 5px rgba(180, 180, 180, 0.805);
    }
    .social-medias a .youtube_icon{
        color: rgb(194, 68, 68);
    }
}





























